/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url('../style/fraunces-v38-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../style/fraunces-v38-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../style/fraunces-v38-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../style/fraunces-v38-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../style/fraunces-v38-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../style/fraunces-v38-latin-regular.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* fraunces-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 500;
  src: url('../style/fraunces-v38-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../style/fraunces-v38-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../style/fraunces-v38-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../style/fraunces-v38-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../style/fraunces-v38-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../style/fraunces-v38-latin-500.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* fraunces-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 600;
  src: url('../style/fraunces-v38-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../style/fraunces-v38-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../style/fraunces-v38-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../style/fraunces-v38-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../style/fraunces-v38-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../style/fraunces-v38-latin-600.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../style/fraunces-v38-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../style/fraunces-v38-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../style/fraunces-v38-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../style/fraunces-v38-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../style/fraunces-v38-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../style/fraunces-v38-latin-700.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* fraunces-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 800;
  src: url('../style/fraunces-v38-latin-800.eot'); /* IE9 Compat Modes */
  src: url('../style/fraunces-v38-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../style/fraunces-v38-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../style/fraunces-v38-latin-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../style/fraunces-v38-latin-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../style/fraunces-v38-latin-800.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../style/fraunces-v38-latin-900.eot'); /* IE9 Compat Modes */
  src: url('../style/fraunces-v38-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../style/fraunces-v38-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../style/fraunces-v38-latin-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../style/fraunces-v38-latin-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../style/fraunces-v38-latin-900.svg#Fraunces') format('svg'); /* Legacy iOS */
}