@use 'mixins' as *; 

.group-list, h2 {
    @include dFlex($ai:flex-start, $jc:space-between);
    flex-wrap: wrap;
    gap: 15px 0px;
    width: clamp(240px, calc(100% - 2* var(--margin-horizontal)), 800px);
    padding: 0 var(--margin-horizontal);
    margin: 0 auto;

    app-group-card {
        width: 49%;
    }
}