@use 'colors' as *; 

:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    overflow-y: auto;
}