@use 'colors' as *;
@use 'variables' as *; 
@use 'typography' as *;

@mixin dFlex($fd: row, $ai, $jc) {
    display: flex;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
}

@mixin general-btn() {
    @include dFlex($ai:center, $jc:center);
    font-weight: 700;
    font-family: var(--font-main);
    font-size: var(--fs-xl);
    margin: 5px 0;
    padding: 6px 12px;
    border: none;
    border-radius: var(--border-radius-sm);
    color: white;
    background-color: var(--color-accent);
    cursor: pointer;
}