:root {
    --spacing-xs: 0.25rem; // 4px
    --spacing-sm: 0.5rem;  // 8px
    --spacing-md: 1rem;    // 16px
    --spacing-lg: 1.5rem;  // 24px
    --spacing-xl: 2rem;    // 32px

    --border-radius-sm: 6px;
    --border-radius-md: 12px;

    --margin-horizontal: 24px;
    --margin-vertical: 0px; // Change
}