
@use 'mixins' as *; 

main {
    @include dFlex($fd:column, $ai:center, $jc:center);
    padding: 16px;
    width: 400px;
    height: auto;
    margin: 20px 5vw;
    border-radius: var(--border-radius-md);

    background: rgba(255, 255, 255, 0.639);
    backdrop-filter: blur(18px) saturate(140%);
    -webkit-backdrop-filter: blur(18px) saturate(140%);

    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.12),
        inset 0 1px 0 rgba(255, 255, 255, 0.45);
    >p {
        text-align: center;
        max-width: 300px;
    }
}

.logo-wrapper {
    display: flex;
    position: relative;
    width: 80%;
    aspect-ratio: 1 / 1; 
    >img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;   
    }
    > img:nth-child(2) {
        animation: spin 60s linear infinite;
        transform-origin: center center;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}