<app-centered-wrapper bgColor="var(--color-bg)">
    <main>
        <div class="logo-wrapper">
            <img src="../../../assets/icons/allerjoy_logo.svg" alt="">
            <img src="../../../assets/icons/allerjoy_logo_ppl.svg" alt="">
        </div>
        <h1>Allerjoy</h1>
        <p>Die Plattform für allergenfreies Kochen mit Freunden & Familie.</p>
        <app-login-btn btnName="Login"></app-login-btn>
        <app-login-btn btnName="Sign Up"></app-login-btn>
    </main>
</app-centered-wrapper>

