<app-fullscreen-wrapper>
    <main>
        <section class="atf">
            <h2>Plane jetzt dein <br> sorgenfreies Dinner</h2>
            <app-btn [config]="startBtn"></app-btn>
        </section>

        <section class="current-event">
            <h2>Aktuell</h2>
            <div class="event-card-bg">
                <img src="../../../assets/img/hero_banner.png" alt="">
                <div class="event-wrapper-bg">
                    <h3>Silvesterabend</h3>
                    <p>Gemeinsames Essen mit Freunden</p>
                </div>
            </div>
        </section>

        <section class="group-list">

        </section>
    </main>


</app-fullscreen-wrapper>
