@use 'mixins' as *; 

main {
    @include dFlex($fd:column, $ai:center, $jc:center);
    margin-bottom: 100px;

    .atf {
        @include dFlex($fd:column, $ai:center, $jc:flex-end);
        position: relative;
        background-image: url("../../../assets/img/hero_banner.png");
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 40vh;
        gap: 10px;

        h2, app-btn {
            z-index: 2;
        }

        h2 {
            color: white;
            text-align: center;
        }

        app-btn {
            margin-bottom: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 40vh;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.813), rgba(255, 255, 255, 0))
        }
    }

    .current-event {
        width: clamp(240px, calc(100% - 48px), 800px);
        padding: 0 24px;

        .event-card-bg {
            border-radius: var(--border-radius-md);
            background-color: var(--color-primary-soft);
            overflow: hidden;
            >img {
                width: 100%;
                object-fit: cover;
            }
        }
        .event-wrapper-bg {
            padding: 10px 20px;
        }
    }

    .current-event,
    app-group-list {
        margin-top: 30px;
    }
}
