@use 'mixins' as *; 

main {
    @include dFlex($fd:column, $ai:center, $jc:center);
    background-color: red;
    flex: 1;

    .atf {
        @include dFlex($fd:column, $ai:center, $jc:flex-end);
        background-image: url("../../../assets/img/hero_banner.png");
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 40vh;
        gap: 10px;

        h2, app-btn {
            z-index: 2;
        }

        h2 {
            color: white;
            text-align: center;
        }

        app-btn {
            margin-bottom: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 40vh;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.813), rgba(255, 255, 255, 0))
        }
    }
}
