<app-fullscreen-wrapper>

    <main>
        <section class="atf-recipes">
            <h2>Rezepte</h2>
        </section>

        <section class="recipe-filters">
            <input type="text">
            <div class="recipe-sub-filter">
                <button>dropdown1</button>
                <button>dropdown2</button>
            </div>
        </section>

        <section class="recipes">
            <h2>Rezepte</h2>
            <div class="recipes-list">
                <app-recipe-card></app-recipe-card>
                <app-recipe-card></app-recipe-card>
                <app-recipe-card></app-recipe-card>
                <app-recipe-card></app-recipe-card>
                <app-recipe-card></app-recipe-card>
            </div>
        </section>
    </main>

</app-fullscreen-wrapper>
